
$orange-color: #F8B017;
.wrap-contacts {
    width: 100%;
    margin: 150px auto 0;
}
.contacts {
    max-width: 1380px;
    margin: 0 auto;
}

/* Set the size of the div element that contains the map */
#map {
    height: 600px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

.contact_list{
    margin-top: 250px !important;
}
.contact_list li{
    line-height: 190%;
    margin-top: 72px;
    position: relative;
  }
.contact_list li a{
    font-family: Inter;
    font-size: 1.1rem;
    line-height: 208%;
    letter-spacing: 6%;
    color: #000;
    transition: color, 0.3s;
    &:hover {
    color: $orange-color;

    }
}

.contacts.unwrap {
    padding: 0 190px;
}

.contact-socials {
    height: 120px;
    background-color: $orange-color;
    margin-top: 40px;
}
.social_container {
    position: relative;
    height: 100%;
    margin: 0 auto;
    max-width: 1050px;
    padding: 40px 0;
    transition: background-color, 0.4s;

    & a {
        display: inline-block;
        margin-left: 30px;
        height: 50px;
        width: 50px;
        &:hover span {
            transition: background-color, 0.4s;
            background-color: #fff;
        }
    }
    & a span {
        background-color: #000;

        display: inline-block;
        height: 50px;
        width: 50px;
        &:hover {
            background-color: #fff;
        }
    }

}

.contact-icon_1 {
    &:before {
        content: "";
        position: absolute;
        background: no-repeat url("../img/call-icon.png") 0 0;
        width: 430px;
        height: 40px;
        left: 0;
        transform: translateX(-121%);
    }
}
.contact-icon_2 {
    &:before {
        content: "";
        position: absolute;
        background: no-repeat url("../img/mail-icon.png") 0 0;
        width: 430px;
        height: 40px;
        left: 0;
        transform: translateX(-121%);
    }
    
}
.contact-icon_3 {
    &:before {
        content: "";
        position: absolute;
        background: no-repeat url("../img/adress-icon.png") 0 0;
        width: 430px;
        height: 40px;
        left: 0;
        transform: translateX(-121%);
    }
}
.copyright {
    height: 50px;
    }
svg {
    position: fixed;
    bottom: 0;
    height: 0px;
    box-sizing: border-box;
}


@media only screen and (max-width : 1441px) {

    .contacts {
        margin-left: 30px;
    }
    .social_container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}


@media only screen and (max-width : 1135px) {
    
.contact-icon_1 {
    &:before {
        content: "";
        position: absolute;
        background: no-repeat url("../img/call-icon.png") 0 0;
        width: 430px;
        height: 40px;
        left: 0;
        transform: translateX(-115%);
    }
}
.contact-icon_2 {
    &:before {
        content: "";
        position: absolute;
        background: no-repeat url("../img/mail-icon.png") 0 0;
        width: 430px;
        height: 40px;
        left: 0;
        transform: translateX(-115%);
    }
    
}
.contact-icon_3 {
    &:before {
        content: "";
        position: absolute;
        background: no-repeat url("../img/adress-icon.png") 0 0;
        width: 430px;
        height: 40px;
        left: 0;
        transform: translateX(-115%);
    }
}
}

@media only screen and (max-width : 801px) {
   
   .unwrap {
    padding: 0px 128px;
   }

    .contact-icon_1 {
        &:before {
            content: "";
            position: absolute;
            background: no-repeat url("../img/call-icon.png") 0 0;
            width: 430px;
            height: 40px;
            left: 0;
            transform: translateX(-121%);
        }
    }
    .contact-icon_2 {
        &:before {
            content: "";
            position: absolute;
            background: no-repeat url("../img/mail-icon.png") 0 0;
            width: 430px;
            height: 40px;
            left: 0;
            transform: translateX(-121%);
        }
        
    }
    .contact-icon_3 {
        &:before {
            content: "";
            position: absolute;
            background: no-repeat url("../img/adress-icon.png") 0 0;
            width: 430px;
            height: 40px;
            left: 0;
            transform: translateX(-121%);
        }
    }
    }



@media only screen and (max-width : 601px) {


        .contacts.unwrap {
        padding: 0px 129px;
       }

        .social_container a {
            margin-left: 10px;
        }
     
         .contact-icon_1 {
             &:before {
                 content: "";
                 position: absolute;
                 background: no-repeat url("../img/call-icon.png") 0 0;
                 width: 430px;
                 height: 40px;
                 left: 0;
                 transform: translateX(-108%);
             }
         }
         .contact-icon_2 {
             &:before {
                 content: "";
                 position: absolute;
                 background: no-repeat url("../img/mail-icon.png") 0 0;
                 width: 430px;
                 height: 40px;
                 left: 0;
                 transform: translateX(-108%);
             }
             
         }
         .contact-icon_3 {
             &:before {
                 content: "";
                 position: absolute;
                 background: no-repeat url("../img/adress-icon.png") 0 0;
                 width: 430px;
                 height: 40px;
                 left: 0;
                 transform: translateX(-108%);
             }
         }
         }



         @media only screen and (max-width : 601px) {


            .contacts.unwrap {
                padding: 0 120px;
            }
            .contact-socials {
                height: 180px;
            }
            .social_container {
                margin-bottom: 50px;

                display: flex;
                flex-wrap: wrap;
                & a{
                    margin-left: 20px;
                    margin-top: 10px;
                }
                justify-content: flex-start;
            }
         }

         @media only screen and (max-width : 458px) {
            .contacts.unwrap {
                padding: 0 80px;
            }
         }
         @media only screen and (max-width : 368px) {
            .contacts.unwrap {
                padding: 0 70px;
            }
         }