@import "fonts";
@import "footer";
@import "null";
@import 'swiper';
@import "header";
@import "contact";

/* variable */
$orange-color: #f8b017;
:root {
	--swiper-theme-color:$orange-color
}
* {
	text-decoration: none;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	line-height: 1.5;
}
a {
	text-decoration: none;
	color: #fff;
}
a:visited {
	text-decoration: none;
	color: inherit;
}

h3 {
	color: #000;
}
.pointer {
	cursor: pointer;
	margin-left: 5px;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	text-decoration: none;
	

}
body.lock {
	overflow: hidden;
}
.svgs{
	height: 0;
	overflow: hidden;
}

h2 {
	font-family: Inter;
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	line-height: 80px;
	letter-spacing: 0.02em;
	text-align: left;
	position: relative;
	

}

.dots {
	
	&::after {
		
		content: "";
		transition: background-color, 0.3s;
		position: absolute;
		top: 17px;
		left: -7vw;
		height: 42px;
		width: 42px;
		border-radius: 50%;
		border: solid 3px #000;
	}
	&::before {
		content: "";
		position: absolute;
		top: 38px;
		left: -37vw;
		height: 2px;
		width: 30vw;
		background: #000;
	}
}

.dots-active {

	&::after {
		content: "";
		position: absolute;
		top: 17px;
		left: -7vw;
		height: 42px;
		width: 42px;
		border-radius: 50%;
		transition-duration: 0.5s;
		transition: background-color, 0.3s;
		border: solid 3px #000;
		background-color: #000;

	}
	&::before {

		content: "";
		position: absolute;
		top: 38px;
		left: -37vw;
		height: 2px;
		width: 30vw;
		background: #000;
	}
}


.background {
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 700%;
	opacity: .3;
	transform: translateY(-2000px);
	background: url("../img/Vector.png") repeat;
}










.orange {
	color: $orange-color !important;
	cursor: pointer;
}

.footer-links {
	display: flex;
	justify-content: space-between;
}

/* wrapper*/

.wraper {
	margin: 0 auto;
	max-width: 100%;
}

.wrap{
	max-width: 1075px;
	margin: 0 auto;
}
/* title block*/

.title {
	margin: 200px auto 0px;
	& h1 {
		

		//styleName: НИИД ЗаголовокН1;
		font-family: Inter;
		font-size: 4rem;
		font-style: normal;
		font-weight: 700;
		line-height: 4rem;
		letter-spacing: 0.02em;
		text-align: left;

		& span {
						//styleName: НИИД ЗаголовокН3;
			font-family: Inter;
			font-size: 21px;
			font-style: normal;
			font-weight: 800;
			line-height: 32px;
			letter-spacing: 0.04em;
			text-align: left;

		}
	}

}
//slider
.swiper-scrollbar {
	height: 20px;
}
.swiper-scrollbar-drag {
	background-color: #808080;
	position: absolute;
	left: 1%;
	bottom: 0px;
	z-index: 5;
	height: 6px;
	width: 98%;
	border-radius: 3px;
	opacity: 0.5;
}

.swiper-wrapper {
	height: 94%;
}
// .swiper-scrollbar{
// 	height: 5px;
// }
// .swiper-scrollbar-drag{
// 	height: 5px;
// 	background: #000;
// }
.swiper {
	width: 100%;
	height: 400px;
  }


.slide1 {

	height: 100%;
	background: center / cover no-repeat url("../img/image11.png");
}
.slide2 {
	height: 100%;
	background: center / cover no-repeat url("../img/image12.png");
}
.slide3 {
	height: 100%;
	background: center / cover no-repeat url("../img/image_13.png");
}
.slide4 {
	height: 100%;
	background: center / cover no-repeat url("../img/image_14.png");
}.slide5 {
	height: 100%;
	background: center / cover no-repeat url("../img/image11.png");
}


/* actual news*/

.actual {
	margin-top: 60px;
	position: relative;

	
}
.actual_title {margin-bottom: 40px;
	position: relative;
	& h2 {
		font-family: Inter;
		font-size: 64px;
		font-style: normal;
		font-weight: 700;
		line-height: 45px;
		letter-spacing: 0.04em;
		text-align: left;

		
	}
	& h2 a::after {
		content: "";
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		top: 48px;
		background: #000;
		opacity: 0.3;
	}

}





.actual_article {
	margin-top: 35px;
	position: relative;
	& p {
		margin-top: 10px;
		font-family: Inter;
		font-family: Inter;
		font-size: 11px;
		font-style: normal;
		font-weight: 700;
		line-height: 15px;
		letter-spacing: 0.08em;
		text-align: left;

	}
	&::before {
		content: "";
		position: absolute;
		width: 20px;
		height: 20px;
		background: no-repeat url("../img/news_arrow_black.png");
		margin: 0 auto;
		left: -20px;
		top: 7px;
		
	}
	&:hover::before {
		background: no-repeat url("../img/news_arrow_orange.png");

	}
	& h3 {
		font-family: Inter;
		font-size: 21px;
		font-style: normal;
		font-weight: 800;
		line-height: 32px;
		letter-spacing: 0.04em;
		text-align: left;

	}
	& h3:hover {
		.actual_article::before {
			background: no-repeat url("../img/news_arrow_orange.png");
		}
		color: $orange-color;
	}
}


/* our command*/
.our-comand {
	margin-top: 60px;
	& p {
		//styleName: НИИД Крупный текст;
		font-family: Inter;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 27px;
		letter-spacing: 0.06em;
		text-align: left;

	}
}

.gallery {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}

.gallery-item {
	& h3 {
		//styleName: НИИД ЗаголовокН3;
		font-family: Inter;
		font-size: 21px;
		font-style: normal;
		font-weight: 800;
		line-height: 32px;
		letter-spacing: 0.04em;
		text-align: left;
		margin-top: 10px;

	}
	& p {
		font-family: Inter;
		font-style: normal;
		font-weight: 500;
		font-size: .87rem;
		line-height: 150%;
		letter-spacing: 0.06em;


		color: #808080;
	}
}

/* our mission*/
.our-mission {
	margin-top: 60px;
	& p {
		margin-top: 20px;
		//styleName: НИИД Крупный текст;
		font-family: Inter;
		font-size: 1.2rem;
		font-style: normal;
		font-weight: 500;
		line-height: 27px;
		letter-spacing: 0.06em;
		text-align: left;
	}
}

/*news block*/
.news_post a{
	color: #000;
}
.news {
	margin-top: 60px;
	& a:hover {
		cursor: pointer;
		color: $orange-color;
	}
	& h2 {
		display: inline-block;
	}
	
}

/*news block */
.new_item {
	margin: 30px 0 0 0;
	display: flex;
	justify-content: space-between;
}

.news_date span {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: .87rem;
	line-height: 150%;
	letter-spacing: 0.06em;
	color: #808080;

}

.news_post {
	position: relative;
	margin-left: 55px;
	& a{
		display: inline;
		font-family: Inter;
		font-style: normal;
		font-weight: bold;
		font-size: .7rem;
		line-height: 140.62%;
		letter-spacing: 0.08em;
	}
	& h3 a {
		font-weight: 800;
		font-size: 1.3rem;
		line-height: 150%;

		letter-spacing: 0.04em;
	}
	& p {
		margin-top: 10px;
	}
	& h3 a::before {
		content: "";
		width: 20px;
		height: 20px;
		background: no-repeat url("../img/news_arrow_black.png");
		position: absolute;
		top: 4px;
		left: -25px;


	}
	& h3 a:hover {
		transition-duration: 0.2s !important;
		transition: color !important;
		color: $orange-color;
		&::before {
			background: no-repeat url("../img/news_arrow_orange.png");
		}	
	}
}


/*vacansion*/

.vacation {
	margin-top: 60px;
}


.tabs {
	margin-top: 60px;
}
.tab-text{
	transition: transform 0.46s ease;
	transform: scaleY(0);
	overflow: hidden;
	margin-left: 40px;
	max-height: 0;
	& h4 {
		margin-top: 20px;
		&:first-child{
			margin-top: 10px;
		}
	}
	& ul {
		list-style-type: disc;
		list-style-position: inside;
	}
}

.tab-text-active {
	max-height: 100%;
	transform: scaleY(1);
}

.tab-icon {
	margin: 15px;
	width: 30px;
	height: 30px;
	background-color: #000;
	clip-path: url('#man');
	&:hover {
		background-color: $orange-color;
	}
}

.tab-icon__active {
	background-color: $orange-color;
}

.tab-title {
	display: block;
	width: 100%;
	border: 2px solid $orange-color;
	padding: 15px 30px;
	margin-top: -2px;
	min-height: 98px;
	& p {
		width: 100%;
		font-weight: 800;
		font-size: 1.3rem;
		line-height: 300%;
		letter-spacing: 0.04em;
		color: #000000;
		position: relative;
	}
	
}

.tab-active p {
	color: $orange-color;
	position: relative;
	
}


.tab-title_flex {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	position: relative;
	margin-left: 90px;
	
	& p::before {
		content: "";
		position: absolute;
		margin-top: 16px;
		width: 30px;
		height: 30px;
		left: -80px;
		clip-path: url('#man');
		background-color: #000;

	}
	& p::after {
		content: "";
		position: absolute;
		margin-top: 22px;
		right: 0px;
		width: 40px;
		height: 20px;
		clip-path: url('#arrow');
		background-color: #000;

	}
	& p:hover {
		color: #f8b017;
	}
	& p:hover::before {
		background-color: $orange-color;
	}
	& p:hover::after {
		background-color: $orange-color;
	}
}

.tab-active {
	& p::before{
		background-color: $orange-color;
	}
	& p::after {
		clip-path: url('#arrow');
		background-color: $orange-color;
		transform: rotate(180deg);

	}
}





.tabs-phone {
	margin-top: 25px;
	& span {
		font-size: .87rem;
		font-style: normal;
		font-weight: 700;
		line-height: 21px;
		letter-spacing: 0.06em;
		text-align: left;

	}
}

.ancet-btn {
	margin-top: 40px;
	max-width: 315px;
	width: 100%;
	height: 60px;
	background-color:  $orange-color;
	font-weight: bold;
	font-size: 0.9rem;
	line-height: 150%;
	letter-spacing: 0.06em;
	border: none;
	&:hover {
		transition: 0.2s;
		border: 3px solid #000;
	}
}

/* docs*/

.docs {
	margin-top: 60px;

	& a {
		margin-top: 60px;
		display: block;
		font-weight: 800;
		font-size: 1.3rem;
		line-height: 150%;
		letter-spacing: 0.04em;
		position: relative;
		padding-left: 110px;
		transition-duration: 0.3s;
		transition: color;
	}
	& a::before {
		content: "";
		position: absolute;
		left: 0;
		top: -50%;
		width: 50px;
		height: 60px;
		background-color: #000;
		clip-path: url('#doc');
		transition: 0.2s;
		// background: no-repeat  center / contain url("../img/doc.png");


	}

	& a:hover {
		color: $orange-color;
		&::before{
			background-color: $orange-color;
			clip-path: url('#doc');
	
		}
	}
}
.actual h2 {
	font-size: 30px;
	line-height: 140%;
}

.line {
	width: 100%;
	height: 3px;
	background: #808080;
	opacity: 0.5;
}

/*cooperation*/
.cooperation {
	margin-top: 60px;
	margin-bottom: 60px;
	position: relative;
	& p {
		margin-top: 20px;
		font-weight: 500;
		font-size: 1.1rem;
		line-height: 150%;
		letter-spacing: 0.06em;
	}
	& input, select {
		margin-top: 30px;
		display: block;
		max-width: 517px;
		width: 100%;
		height: 60px;
		overflow: hidden;
		border: 3px solid #C8C8C8;
		box-sizing: border-box;
		font-size: 1.06rem;
		padding: 15px;
		background-color: #fff;
		color: #000;
		&:focus {
			outline: none;
			border: 3px solid $orange-color;
		}
	}
	& span {
		display: inline-block;
	}
	& select {
		appearance: none;
	}

}
.select {
	max-width: 517px;
	position: relative;
}
.select::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	right: 20px;
	top: 1.5rem;
	transform: rotate(90deg);
	background: no-repeat url("../img/news_arrow_black.png");

}

.politic {
	display: flex;
	margin-top: 30px;
}

.politic span {
	display: inline-block;
	vertical-align: bottom;
	font-size: 1.1rem;
	line-height: 200%;
	letter-spacing: 0.05em;
	&:last-child{
		margin-left: 20px;
	}
	& a:hover{
		text-decoration: underline;
	}
}
.check-box {
	position: absolute;
	opacity: 0;
	z-index: -5;
	background: #FFFFFF;
	border: 3px solid $orange-color;
	box-sizing: border-box;
	
}
.check-box + label {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	user-select: none;
}

.check-box+label::before {
	content: '';
	display: inline-block;
	width: 2rem;
	height: 2rem;
	flex-shrink: 0;
	flex-grow: 0;
	border: 3px solid $orange-color;
	border-radius: 0.25em;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
  }
  .check-box:checked+label::before {
	transform: rotate(90deg);
	background-image: url("../img/news_arrow_black.png");
	background-size: 13px 20px;
	border: 3px solid $orange-color;
	
}

.coop-btn {
	cursor: pointer;
	margin-top: 40px;
	max-width: 375px;
	width: 100%;
	height: 60px;
	background-color:  $orange-color;
	font-weight: bold;
	font-size: 0.9rem;
	line-height: 150%;
	letter-spacing: 0.06em;
	border: none;
	transition: 0.2s;
	&:hover {
		border: 3px solid #000;
		cursor: pointer;
	}
}

.swiper-slide {
	margin: 0 !important;
	position: relative;


}

.slide-link {
	transition-duration: .3s !important;
	transition: all;
	  &:hover {
	
		border: 3px solid $orange-color;
	  }
	}

.slide-link a {
	padding:  0 10px;
	position: absolute;
		left: 10px;
		font-family: Inter;
		font-style: normal;
		font-weight: 800;
		font-size: 1.3rem;
		line-height: 150%;
		color: #fff;
		letter-spacing: 0.04em;
		overflow: hidden;
		bottom: 10px;
		&:hover {
			color: $orange-color;
		}
}
.slider {
	margin-top: 60px;
}
// 
//
.burger-active {
	display: none;
}

.swiper-pagination-horizontal {
	height: 12px;
	background: #808080;
	width: 100%;
}
.slogan-mini {
	display: none;
}

//

@media all and (min-width: 1880px) { 
	.swiper-wrapper {
		height: 94%;
	}
	.swiper-slide {
		height: 100%;
	}
	.swiper {
		height: 500px;
	}
}


@media all and (max-width: 1270px) { 
	.wrap { 
	 padding: 0 80px; 
	} 
	.header-menu a { 
	 margin-left: 15px; 
	} 
	.slogan {
		max-width: 200px;

	}
	.slogan span { 

	 font-size: 0.5rem; 
	 
	} 
	.slider { 
	 height: 350px; 
	} 
	.slogan-text {
		font-size: 0.5rem;
	}
   } 
   
  

   @media all and (max-width: 1024px) {
		.slogan-mini {
			font-size: .6rem !important;
			padding: 10px 0;
			display: block;
		}
		.slogan-text {
			display: none;
		}

		h2{
			font-size: 2.5rem;
		}

	   .menu-link a{
		   font-size: 0.5rem;
		   margin-left: 0px;
	   }
	   .slogan-text {
		   font-size: 0.5rem;
	   }
	   .slogan {
		max-width: 210px;

	   }
	   .logo {
		   margin-left: 20px;
	   }

	   .cabinet {
		   right: 30px;
	   }
	   .gallery-item {
		   margin: 5px;
	   }
   } 

   @media all and (max-width: 920px) {
	   h2 {
		   font-size: 2rem;
		   line-height: 140%;
	   }
	   .logo {
		   width: 100px;
	   }
	   .slogan {
		   max-width: 200px;
	   }
	   .slogan-text {
		font-size: 0.5rem;

	   }
	   .dots::before { 
		position: absolute;
		left: 0;
		transform: translateX(-118%);
		top: 35px; 
	   } 
	   .dots::after{ 
		top: 22px;
		left: -47px; 
		width: 30px; 
		height: 30px; 
	   } 
   }


   @media all and (max-width: 810px) { 

	// .wrap:first-child {
	// 	margin-top: 140px;
	// }
	.social_links a{ 
	 margin-top: 10px; 
	} 


	h2 { 
	 font-size: 2.5rem; 
	} 
	.footer-links { 
	 flex-wrap: wrap; 
	} 

	.link-margin { 
	 margin: 10px 5px; 
	} 


	
	.docs a::before { 
	 content: ""; 
	 position: absolute; 
	 left: 0; 
	 top: 0%; 
	 width: 50px; 
	 height: 60px; 
	}

	.slide-link a{ 
	 font-size: 1rem; 
	 line-height: 140%; 
	} 
   } 

 


   @media all and (max-width: 810px) {
		.mainmenu{
			top: 50px;
		}
		.dots::after,.dots::before{
			display: none;

		}

		.footer-links {
			justify-content: space-between;
		}
		.link-margin {
			width: 23%;
		}
		.niidmail {
			width: 150px;
		}


	   .logo_active{
		   top: 0;
		   position: absolute;
		   z-index: 33;
		   width: 120px;
		   left: 50%;
		   transform: translatex(-50%);
	   }
	   .cabinet_active {
		   transition: all, 0.2s;
		   position: absolute;
		   z-index: 31;
		   background-color: #fff;
		   top: 5px;
		   left: 50px;
	   }
	//    .burger_icon {
	// 	   display: inline;
	// 	   position: relative;
	// 	   width: 50px;
	// 	   height: 50px;
	//    }
	   .burger_icon {
		z-index: 30;
		display: block;
		position: absolute;
		right: 40px;
		top: 15px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		& span{
			top: 50%;
			transform: scale(1) translate(0px, -50%);
			left: 0;
			position: absolute;
			height: 20%;
			width: 30px;
			transition: all 0.3s ease 0s;
			background-color: #fff;
		}
		// //    display: flex;
		// //    justify-content: center;
		// //    align-items: center;
		// //    margin: 0 auto;
		// //     cursor: pointer;
		// //     top: 15px;
		// //     position: absolute;
		// //     width: 30px;
		// //     height: 4px;
		// //     background: #fff;
		// // 	z-index: 30;
		// 	cursor: pointer;
		// 	display: flex;
		// 	justify-content: center;
		// 	align-items: center;
		// 	position: absolute;
		// 	width: 30px;
		// 	height: 4px;
		// 	justify-content: center;
		// 	align-items: center;
		// 	z-index: 30;
		// 	top: 20px;
		   &::before{
			content: "";
			left: 0;
			top: 0;
			position: absolute;
			height: 20%;
			width: 30px;
			transition: all 0.3s ease 0s;
			background-color: #fff;
		   }
		   &::after{
			content: "";
			left: 0;
			bottom: 0;
			position: absolute;
			height: 20%;
			width: 30px;
			transition: all 0.3s ease 0s;
			background-color: #fff;
		   }
	   }
	   .burger_active{
			display: block;
			position: absolute;
			right: 40px;
			top: 15px;
			width: 30px;
			height: 20%;
			cursor: pointer;
		  	z-index: 99;
			& span {
				transform: scale(0) translate(0px, -50%);
			}
			
			&::before{
				top: 50%;
				transform: rotate(45deg) translate(0px, -50%);
			}
			&::after{
			content: "";
			bottom: 45%;
			transform: rotate(-45deg) translate(0px, 50%);
			}
	   }
	   .menu-link {
		   position: fixed;
		   z-index: 20;
		   width: 100vw;
		   height: 100vh;
		   background: #000;
		   display: flex;
		   flex-direction: column;
		   justify-content: flex-end;
		   align-items: center;
		   transition: left, 0.4s;
		   left: -130%;
		   top: 0;
		   & li:last-child {
			   margin-bottom: 40px;
		   }
			&::after{
				position: absolute;
				width: 100%;
				height: 100%;
				content: "";
				background-image: url("../img/vector.png");
				opacity: 0.3;
				z-index: -1;
			}
		   & a {
			   line-height: 0.3;
			font-size: 1.3rem;
			color: $orange-color;
		   }
	   }
	   .menu-link_active {
		   left: 0;
		   & li:hover{
			   border-bottom: none;
			   & a:hover {
			   color: #fff;

			   }
		   }
	   }



   }


   @media all and (max-width: 621px) { 
	   .gallery	{
		   flex-wrap: wrap;
		   justify-content: center;
	   }
	   .docs a {
		   margin-top: 30px;
	   }


   }




   @media all and (max-width: 482px) { 
	.wrap { 
	 margin-top: 20px; 
	 padding: 0 20px 0 60px; 
	} 
	.dots::before { 
	 top: 35px;
	 left: -150px;
	} 
	.dots::after{ 
	 top: 22px; 
	} 
	.docs a::before { 
	 left: 20px; 
	 top: -12px; 
	}

   
   }

   @media all and (max-width: 430px) {
	.dots-active::before{
		left: -160px;
	}
	.burger-span {
		right: 10px;
	}
	.dots::before{
		left: -165px;
	}


	.logo_active {
		position: absolute;
		width: 100px;
		height: auto;
		top: 30%;
		left: 50%;
		transform: translateX(-50%);
	}
	.slogan {
		position: absolute;
		width: 100%;
		top: 160px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
	}
	.footer-links{
		display: none !important;
	}
	.socials {
		display: none !important;
	}
	.footer-container {
		padding-top: 15px;
	}
	.copyright p{
		margin-bottom: 30px;
		padding-top: -20px;
	}
   }


//    @media all and (max-width: 330px) {
// 	.dots-active::before{
// 		left: -160px;
// 	}
// 	.dots::before{
// 		left: -140px;
// 	}
//    }
//    @media all and (min-width: 810px) {
// 	   .main-menu{
// 		   display: flex;
// 	   }
//    }



////////////////////////////////////////////////////////////
   @media only screen and (min-device-width : 320px) and (max-device-width : 481px) {
	   .wrapper{
		   overflow: hidden;
	   }

	   h2 {
		   margin-top: 40px;
		   font-size: 1.3rem;
	   }
	   .title_h1 {
		   margin-top: 140px;
	   }
	   .dots {
		   font-size: 1.8rem;
		   line-height: 140%;
	   }
	   .actual{
		   margin-top: 80px;
	   }

	   .actual h2 a{
		   &::after{
			   top: 25px;
		   }
	   }
	   .wrap {
		   padding: 0 30px 0 30px;
		   overflow: hidden;
	   }
	   .actual_article{
		   margin-left: 20px;
	   }
	   .actual_article p {
		   display: none;
	   }


	   .news_date {
		   display: none;
	   }
	   .news_post {
		   margin-left: 25px;
		   font-size: 1rem;
		   & p {
			   display: none;
		   }
	   }
	   .tab-title_flex{
		   margin: 15px auto;
	   }
	   .tab-title_flex p{
		   line-height: 140%;
		   &::after {
			   display: none;
		   }
		   &::before {
			display: none;
		}
	   }

	   .tab-text-active {
		   margin: 15px;
	   }
	   .ancet-btn {
		   font-size: 0.8rem;
		   
	   }

	   .docs a {
		   margin: 30px auto;
		   font-size: 1rem;
		   padding-left: 80px;
		   &::before {
			   left: 0px;
			   top: 50%;
			   transform: translateY(-50%);
		   }

	   }
	   .coop-btn {
		   margin: 40px auto;
	   }
	   .footer-links {
		   display: flex;
		   flex-direction: column;
		   justify-content: center;
	   }
	   .social_links{
		   justify-content: center;
	   }

   }