@import "fonts";
@import "footer";
@import "null";
@import 'swiper';
@import "header";
@import "contact";

/* variable */
$orange-color: #f8b017;
:root {
	--swiper-theme-color:$orange-color
}
* {
	text-decoration: none;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	line-height: 1.5;
}
a {
	text-decoration: none;
	color: #fff;
}
a:visited {
	text-decoration: none;
	color: inherit;
}

h3 {
	color: #000;
}
.pointer {
	cursor: pointer;
	margin-left: 5px;
}

p {
	font-size: 1.2rem;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	text-decoration: none;
	

}
body.lock {
	overflow: hidden;
}
.svgs{
	height: 0;
	overflow: hidden;
}


.wrap.dots-margin {
	margin-top: 90px;
}
h2 {
	font-family: Inter;
	font-size: 4.3rem;
	font-style: normal;
	font-weight: 700;
	line-height: 80px;
	letter-spacing: 0.02em;
	text-align: left;
	position: relative;
	

}




.dots {
	
	&::after {
		
		content: "";
		transition: background-color, 0.3s;
		position: absolute;
		top: 18px;
		height: 42px;
		width: 42px;
		left: 0;
		transform: translateX(-230%);
		border-radius: 50%;
		border: solid 3px #000;
	}
	&::before {
		content: "";
		left: 0;
		position: absolute;
		top: 38px;
		height: 2px;
		width: 500px;
		transform: translateX(-119%);
		background: #000;
	}
}

.dots-active {

	&::after {
		content: "";
		position: absolute;
		top: 18px;
		left: 0;
		height: 42px;
		width: 42px;
		border-radius: 50%;
		transition-duration: 0.3s;
		transition: background-color, 0.3s;
		border: solid 3px #000;
		background-color: #000;

	}
	&::before {

		content: "";
		position: absolute;
		top: 38px;
		left: 0;
		width: 500px;
		transform: translateX(-119%);
		background: #000;
	}
}


.background {
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 700%;
	opacity: .3;
	transform: translateY(-2000px);
	background: url("../img/Vector.png") repeat;
}









.orange {
	color: $orange-color !important;
	cursor: pointer;
}

.footer-links {
	display: flex;
	justify-content: space-between;
}

/* wrapper*/

.wraper {
	margin: 0 auto;
	max-width: 100%;
}

.wrap {
	margin: 0 auto;
	padding: 0 17vw;
}
/* title block*/
.h1_min {
	font-size: 1.3rem;
}
.title {
	margin: 100px auto 0px;
	& h1 {
		

		//styleName: НИИД ЗаголовокН1;
		font-family: Inter;
		font-size: 4rem;
		font-style: normal;
		font-weight: 700;
		line-height: 4rem;
		letter-spacing: 0.02em;
		text-align: left;

		& span {
						//styleName: НИИД ЗаголовокН3;
			font-family: Inter;
			font-size: 21px;
			font-style: normal;
			font-weight: 800;
			line-height: 32px;
			letter-spacing: 0.04em;
			text-align: left;

		}
	}

}
//slider
.swiper-scrollbar {
	height: 20px;
}
.swiper-scrollbar-drag {
	background-color: #808080;
	position: absolute;
	left: 1%;
	bottom: 0px;
	z-index: 5;
	height: 6px;
	width: 98%;
	border-radius: 3px;
	opacity: 0.5;
}

.swiper-wrapper {
	height: 94%;
}
// .swiper-scrollbar{
// 	height: 5px;
// }
// .swiper-scrollbar-drag{
// 	height: 5px;
// 	background: #000;
// }
.swiper {
	width: 100%;
	height: 400px;
  }

.swiper-slide {
	overflow: hidden;
}
.border {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.3s;
	&:hover{
		border: 3px solid $orange-color;
	}
}

.slide-link img {

	object-fit: cover;
	width: 100%;
	min-height: 400px;
}



.actual {
	margin-top: 60px;
	position: relative;

	
}
.actual_title {margin-bottom: 40px;
	position: relative;
	& h2 {
		font-family: Inter;
		font-size: 64px;
		font-style: normal;
		font-weight: 700;
		letter-spacing: 0.04em;
		text-align: left;

		
	}
	& h2 a::after {
		content: "";
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		top: 48px;
		background: #000;
		opacity: 0.3;
	}

}


.news a {
	margin-left: 30px;
	font-size: 1.5rem;
	font-weight: 700;
}


.actual_article {
	margin-top: 35px;
	position: relative;
	margin-left: 20px;
	padding-left: 15px;
	& p {
		margin-top: 10px;
		font-family: Inter;
		font-family: Inter;
		font-size: 0.7rem;
		font-style: normal;
		font-weight: 700;
		line-height: 140%;
		letter-spacing: 0.08em;
		text-align: left;

	}
	& h3 {
		font-family: Inter;
		font-size: 1.3rem;
		font-style: normal;
		font-weight: 800;
		line-height: 32px;
		letter-spacing: 0.04em;
		text-align: left;
		&::before {
			content: "";
			position: absolute;
			width: 20px;
			height: 20px;
			background: no-repeat url("../img/news_arrow_black.png");
			margin: 0 auto;
			left: -20px;
			top: 7px;
			
		}
		&:hover::before {
			background: no-repeat url("../img/news_arrow_orange.png");
	
		}

	}
	& h3:hover {
		.actual_article::before {
			background: no-repeat url("../img/news_arrow_orange.png");
		}
		color: $orange-color;
	}
}


/* our command*/
.our-comand {
	margin-top: 60px;
	& p {
		//styleName: НИИД Крупный текст;
		font-family: Inter;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 27px;
		letter-spacing: 0.06em;
		text-align: left;

	}
}

.gallery {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}

.gallery-item {
	& h3 {
		//styleName: НИИД ЗаголовокН3;
		font-family: Inter;
		font-size: 21px;
		font-style: normal;
		font-weight: 800;
		line-height: 32px;
		letter-spacing: 0.04em;
		text-align: left;
		margin-top: 10px;

	}
	& p {
		font-family: Inter;
		font-style: normal;
		font-weight: 500;
		font-size: .87rem;
		line-height: 150%;
		letter-spacing: 0.06em;


		color: #808080;
	}
}

/* our mission*/
.our-mission {
	margin-top: 60px;
	& p {
		margin-top: 20px;
		//styleName: НИИД Крупный текст;
		font-family: Inter;
		font-size: 1.2rem;
		font-style: normal;
		font-weight: 500;
		line-height: 27px;
		letter-spacing: 0.06em;
		text-align: left;
	}
}

/*news block*/
.news_post h3 {
	font-size: 1rem;
	line-height: 140%;
}

.news_post p {
	margin-left: 29px;
}

.news_post a{
	color: #000;
	font-size: 1.3rem;
}
.news {
	margin-top: 60px;
	& a:hover {
		cursor: pointer;
		color: $orange-color;
	}
	& h2 {
		display: inline-block;
	}
	
}

/*news block */
.new_item {
	margin: 30px 0 0 0;
	display: flex;
	justify-content: space-between;
}

.news_date span {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: .87rem;
	line-height: 150%;
	letter-spacing: 0.06em;
	color: #808080;

}

.news_post {
	position: relative;
	margin-left: 55px;
	& a{
		display: inline;
		font-family: Inter;
		font-style: normal;
		font-weight: bold;
		font-size: .7rem;
		line-height: 140.62%;
		letter-spacing: 0.08em;
	}
	& h3 a {
		font-weight: 800;
		font-size: 1.3rem;
		line-height: 150%;

		letter-spacing: 0.04em;
	}
	& p {
		margin-top: 10px;
	}
	& h3 a::before {
		content: "";
		width: 20px;
		height: 20px;
		background: no-repeat url("../img/news_arrow_black.png");
		position: absolute;
		top: 4px;
		left: -25px;


	}
	& h3 a:hover {
		transition-duration: 0.2s !important;
		transition: color !important;
		color: $orange-color;
		&::before {
			background: no-repeat url("../img/news_arrow_orange.png");
		}	
	}
}


/*vacansion*/

.vacation {
	margin-top: 60px;
}


.tabs {
	margin-top: 60px;
}
.tab-text{
	transition: transform 0.46s ease;
	transform: scaleY(0);
	overflow: hidden;
	margin-left: 40px;
	max-height: 0;
	& h4 {
		margin-top: 20px;
		&:first-child{
			margin-top: 10px;
		}
	}
	& ul {
		list-style-type: disc;
		list-style-position: inside;
	}
}

.tab-text-active {
	max-height: 100%;
	transform: scaleY(1);
}

.tab-icon {
	margin: 15px;
	width: 30px;
	height: 30px;
	background-color: #000;
	clip-path: url('#man');
	&:hover {
		background-color: $orange-color;
	}
}

.tab-icon__active {
	background-color: $orange-color;
}

.tab-title {
	display: block;
	width: 100%;
	border: 2px solid $orange-color;
	padding: 15px 30px;
	margin-top: -2px;
	min-height: 98px;
	& p {
		width: 100%;
		font-weight: 800;
		font-size: 1.3rem;
		line-height: 300%;
		letter-spacing: 0.04em;
		color: #000000;
		position: relative;
	}
	
}

.tab-active p {
	color: $orange-color;
	position: relative;
	
}


.tab-title_flex {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	position: relative;
	margin-left: 90px;
	
	& p::before {
		content: "";
		position: absolute;
		margin-top: 16px;
		width: 30px;
		height: 30px;
		left: -80px;
		clip-path: url('#man');
		background-color: #000;

	}
	& p::after {
		content: "";
		position: absolute;
		margin-top: 22px;
		right: 0px;
		width: 40px;
		height: 20px;
		clip-path: url('#arrow');
		background-color: #000;

	}
	& p:hover {
		color: #f8b017;
	}
	& p:hover::before {
		background-color: $orange-color;
	}
	& p:hover::after {
		background-color: $orange-color;
	}
}

.tab-active {
	& p::before{
		background-color: $orange-color;
	}
	& p::after {
		clip-path: url('#arrow');
		background-color: $orange-color;
		transform: rotate(180deg);

	}
}





.tabs-phone {
	margin-top: 25px;
	& span {
		font-size: .87rem;
		font-style: normal;
		font-weight: 700;
		line-height: 21px;
		letter-spacing: 0.06em;
		text-align: left;

	}
}

.ancet-btn {
	margin-top: 40px;
	margin-bottom: 40px;
	max-width: 315px;
	width: 100%;
	height: 60px;
	background-color:  $orange-color;
	font-weight: bold;
	font-size: 0.9rem;
	line-height: 150%;
	letter-spacing: 0.06em;
	border: none;
	cursor: pointer;
	&:hover {
		transform: translateY(-4px);
		transition: 0.2s;
		border: 3px solid #000;
	}
}

/* docs*/

.docs {
	margin-top: 60px;

	& a {
		margin-top: 60px;
		display: block;
		font-weight: 800;
		font-size: 1.3rem;
		line-height: 150%;
		letter-spacing: 0.04em;
		position: relative;
		padding-left: 110px;
		transition-duration: 0.3s;
		transition: color;
	}
	& a::before {
		content: "";
		position: absolute;
		left: 0;
		top: -50%;
		width: 50px;
		height: 60px;
		background-color: #000;
		clip-path: url('#doc');
		transition: 0.2s;


	}

	& a:hover {
		color: $orange-color;
		&::before{
			background-color: $orange-color;
			clip-path: url('#doc');
	
		}
	}
}
.actual h2 {
	font-size: 30px;
	line-height: 140%;
}

.line {
	width: 100%;
	height: 3px;
	background: #808080;
	opacity: 0.5;
}

/*cooperation*/
.errorInput {
	position: relative;
	& p {
		margin-top: 2px !important;
		position: absolute;
		top: 0;
		left: 0;
	}
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	line-height: 140%;
	color: red;
	opacity: 1;
	display: none;
	

}
.thank {
	margin-left: 30px;
	

}

.thankp {
	display: none;

}
.thank p, .errorPolitic p {
	color: red;
	
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 1rem !important;

	line-height: 150%;
}

.cooperation {
	margin-top: 75px;
	margin-bottom: 60px;
	position: relative;
	& p {
		margin-top: 20px;
		font-weight: 500;
		font-size: 0.7rem;
		line-height: 150%;
		letter-spacing: 0.06em;
	}
	& input, select, textarea {

		margin-top: 30px;
		display: block;
		max-width: 517px;
		width: 100%;
		height: 60px;
		overflow: hidden;
		border: 3px solid #C8C8C8;
		box-sizing: border-box;
		font-size: 1.06rem;
		padding: 15px;
		background-color: #fff;
		color: #000;
		&:focus {
			outline: none;
			border: 3px solid $orange-color;
		}
		&:invalid {
			border: 3px solid red;
		}
	}
	& span {
		display: inline-block;
	}
	& select {
		appearance: none;

	}

}
.select {
	max-width: 517px;
	position: relative;
}
.select::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	right: 20px;
	top: 1.5rem;
	transform: rotate(90deg);
	background: no-repeat url("../img/news_arrow_black.png");

}

.politic {
	display: flex;
	margin-top: 30px;
}

.politic span {
	display: inline-block;
	vertical-align: bottom;
	font-size: 1.1rem;
	line-height: 200%;
	letter-spacing: 0.05em;
	&:last-child{
		margin-left: 20px;
	}
	& a:hover{
		text-decoration: underline;
	}
}
.check-box {
	position: absolute;
	opacity: 0;
	z-index: -5;
	background: #FFFFFF;
	border: 3px solid $orange-color;
	box-sizing: border-box;
	
}
.check-box + label {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	user-select: none;
}

.check-box+label::before {
	content: '';
	display: inline-block;
	width: 2rem;
	height: 2rem;
	flex-shrink: 0;
	flex-grow: 0;
	border: 3px solid $orange-color;
	border-radius: 0.25em;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
  }
  .check-box:checked+label::before {
	transform: rotate(90deg);
	background-image: url("../img/news_arrow_black.png");
	background-size: 13px 20px;
	border: 3px solid $orange-color;
	
}

.coop-btn {
	cursor: pointer;
	margin-top: 40px;
	max-width: 221px;
	width: 100%;
	height: 60px;
	background-color:  $orange-color;
	font-weight: bold;
	font-size: 0.9rem;
	line-height: 150%;
	letter-spacing: 0.06em;
	border: none;
	transition: 0.2s;
	&:hover {
		transform: translateY(-4px);
		transition: 0.2s;
		border: 3px solid #000;
		cursor: pointer;
	}
}

.swiper-slide {
	margin: 0 !important;
	position: relative;


}

.slide-link {
	transition-duration: .3s !important;
	transition: all;
	margin-right: 2px;
	}

.slide-link a {
	padding:  0 10px;
	position: absolute;
		left: 10px;
		font-family: Inter;
		font-style: normal;
		font-weight: 800;
		font-size: 1.3rem;
		line-height: 150%;
		color: #fff;
		letter-spacing: 0.04em;
		overflow: hidden;
		bottom: 10px;
		&:hover {
			color: $orange-color;
		}
}
.slider {
	margin-top: 60px;
}
// 
//
.burger-active {
	display: none;
}

.swiper-pagination-horizontal {
	height: 12px;
	background: #808080;
	width: 100%;
}
.slogan-mini {
	display: none;
}

//
@media all and (max-width: 1930px) {
	.menu-nav {
		margin: 10px 65px 10px 13vw;

	}
	.logo-mini {
		transform: translateX(-190px);
	}
} 


@media all and (min-width: 1701px) {
	.menu-nav {
		margin: 10px 65px 10px 13.4vw;

	}
} 
@media all and (max-width: 1700px) { 
	.menu-nav {
		margin: 10px 65px 10px 200px;

	}
	.logo-mini {
		transform: translateX(-160px);
	}
}


@media all and (max-width: 1441px) { 
	.menu-nav {
		margin: 10px 65px 10px 175px;

	}
	.logo-mini {
		transform: translateX(-160px);
	}
}

@media all and (max-width: 1290px) { 
	.menu-nav {
		margin: 10px 65px 10px 155px;

	}
	.logo-mini {
		transform: translateX(-110px);
	}
	.menu-link li {
		margin-left: 10px;
	}
}


@media all and (max-width: 1090px) { 
	.menu-nav {
		margin: 10px 65px 10px 120px;
	}
	.slogan-mini {
		margin-top: 8px;
		display: block;
	}
	.slogan-text {
		display: none;

	}
	.logo-min__position {
		left: 16vw;
	}
}

@media all and (max-width: 1025px) { 
	.menu-nav {
		margin: 10px 65px 10px 110px;
	}
}

@media all and (max-width: 970px) { 
	.menu-nav {
		margin: 10px 25px 10px 100px;
	}
	.wrap {
		padding: 0 18vw;
		margin: 0px auto 0;
	}
	.menu-link li {
		margin-left: 7px;
	}
	h2 {
		font-size: 3rem;
		line-height: 120%;
	}
	footer {
		margin-top: 70px;
	}
}

@media all and (min-width: 851px) { 
	.burger {
		display: none;
	}
	.title{
		margin-top: 100px !important;
	}
}
@media all and (max-width: 850px) {

	.mainmenu {
		position: fixed;
		z-index: 2;
	}


	.logo-mini {
		display: block;
	}

	.white {
		background-color: white !important;
		width: 30px;
		height: 4px;
		display: block;
		position: fixed;
		top: 3px;
		&::before {
			background-color: white !important;
		}
		&::after {
			background-color: white !important;
		}
	}
	.burger-icon._active .white {
		opacity: 0;
		background-color: white !important;
		width: 30px;
		height: 4px;
		position: fixed;
		top: 0px;
		&::before {
			background-color: white !important;
		}
		&::after {
			background-color: white !important;
		}
	}
	.menu-nav {
		margin: 10px 25px 10px 90px;
	}
	.wrap {
		padding: 0 9vw;
		margin: 0 auto;
	}
	.menu-link li {
		font-size: 0.6rem;
		margin-left: 5px;
	}
	h2 {
		font-size: 3rem;
		line-height: 120%;
	}
	.logo-min__position {
		left: 21vw;
	}
	.slogan-mini {
		transform: translateX(-90%);
	}
	.docs a::before {
		top: 0;
	}
	.gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.gallery-item {
		margin-top: 30px;
	}
	.social_links {
		display: inline-block;
		flex-wrap: wrap;
		& a {
			margin-right: 30px;
		}
	}
	.footer-container {
		margin-top: 40px;
		padding-top: 0px !important;

	}
	.footer-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: top;
	}
	.link-margin {
	
		display: none;
		margin-left: 40px;
	}
	.niidmail {
		max-width: 100%;
		margin-top: 20px;
	}
	.dots-container {
		margin-top: 15px;
	}
	.dots, .dots-active {
		&::before, &::after {
			display: none;
		}
	}


	.logo-itm {
		display: none;
	}
	.navigation {
		display: none;
	}
	.logo-mini{
		transform: translateX(60px);
		opacity: 1;
	}




	.burger-icon {
		z-index: 14;
		display: block;
		position: relative;
		width: 40px;
		height: 40px;
		cursor: pointer;
		right: 5%;
		top: 20%;
	}
	
	.burger-icon span {
		z-index: 13;
		position: relative;
		display: block;
		width: 40px;
		height: 4px;
		cursor: pointer;
		background: #000;
		margin-top: 15px;
		
		&::before {
		content: "";
		position: absolute;
		top: -8px;
		display: block;
		width: 40px;
		height: 4px;
		background: #000;
		transition: all 0.3s ease 0s;
		}
		&::after {
			content: "";
			position: absolute;
			bottom: -8px;
			transition: all 0.3s ease 0s;
			display: block;
			width: 40px;
			height: 4px;
			background: #000;
		}
	}

	.burger-icon._active span{
		position: relative;
		display: block;
		width: 40px;
		height: 0px;
		cursor: pointer;
		position: fixed;
		z-index: 12;
		background-color: #fff;
		
		&::before {
		top: 0px;
		background-color: #fff;
		transform: rotate(45deg) translate(0px, 50%);
		}
		&::after {
			top: 0px;
			right: 3px;
			background-color: #fff;
		transform: rotate(-45deg) translate(0px, 50%);
		}
	}


	.burger {margin-right: 30px;}

	.contact_list {
		margin-top: 70px !important;
	}
	.burgerWrapper {
		position: relative;
		z-index: 22;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		height: 900px;
		overflow: scroll;
	}
	.burgerMenu {
		top: 0;
		transition: .3s;
		left: -120vw;
		width: 100%;
		background-color: #000;
		position: fixed;
		z-index: 9;
		overflow: scroll;
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&::after {
			content: "";
			width: 100vw;
			height: 100vh;
			position: fixed;
			z-index: 10;
			opacity: .2;
			background-image: url("../img/Vector.png");

		}
		& .burgerLogo{
			margin-top: 80px;
		}
		.burgerList{
			height: 500px;
			margin-bottom: 20px;
			overflow: scroll;
			&a {
				font-size: 1.2rem;
			}
		}
		& .burgerList li{
			position: relative;
			z-index: 33;
			text-decoration: none;
			box-sizing: border-box;
			color: $orange-color;
			list-style-type: none;
			text-align: center;
			font-family: Inter;
			font-weight: bold;
			font-size: 1.4rem;
			line-height: 180%;
			&:hover {
				cursor: pointer;
				color: #fff;
				transition: 0.5s;
			}
		}


		.burgerSlogan {
			margin-bottom: 10px;
			margin-top: 20px;
			height: 100%;
			text-align: center;
			& p {
				text-align: center;
				margin: 0 auto;
			font-size: 0.7rem !important;
			max-width: 80%;
			opacity: 1 !important;

			}
		}
		
		}



	.mainmenu {
		justify-content: flex-end;
	}
	.burgerMenu._active {
		overflow: scroll;
    	
		transition: 0.5s;
		left: 0;
		top: 0;
	}
	.dots-container{
		margin-top: 0;
	}
}


@media all and (min-width: 502px) {
	.menuMini{
		display: none;
	}
}




@media all and (max-width: 501px) {
	.title{
		margin-top: 250px !important;
	}
	.burger {
		position: fixed;
		top: 13px;
	}
	.menuMini {
		height: 230px;
		position: absolute;
		background: #000;
		
	}
	.mainmenu{
		position: absolute;
	}
	.logoMob {
		width: 120px;
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translateX(-50%);
	}
	.sloganMob p{
		font-size: .8rem;
		text-align: center;
	}
	.sloganMob{
		position: relative;
		top: 170px;
	}


	.slogan {
		position: absolute;
		top: 80%;
		left: 50%;
	}
	.burger {
		display: block;
	}
	.menu-nav{
		margin: 0;
		margin-left: 70px;
	}
	.logo-itm{
		display: block !important;
		position: absolute;
		top: 50%;
		left: 100%;
		transform: translateX(-50%);
	}
	.logo-mini {
		display: none;
	}

	.logo, .slogan {
		display: none;
	}

	.politic span {
		font-size: .8rem;
	}

	.wrap.dots-margin {
		margin-top: 50px;
	}

	.niidmail {
		display: block;
	}
	h2, .actual_title h2 {
		font-size: 2rem;
	}
	.wrap {
		padding: 10px;
		margin: 0 20px 0;
	}
	.news_date {
		display: none;
	}
	.news_post{
		margin-left: 10px;
	}
	.news_post h3 a::before {
		left: -10px;
	}

	.social_links__margin {
		margin:50px auto;
		& a{
			margin-left: 15px;
			margin-top: 15px;
		}
	}
	.wraper {
		overflow: hidden;
	}
	.burgerList li {
		&:hover {
			cursor: pointer;
			color: #FFFFFF;
		}
	}

}
@media all and (max-width: 459px) { 
	h2 {
		font-size: 1.9rem;
	}
	.tab-title_flex{
		margin-left: 0;
	}
	.tab-title_flex p{
		margin-top: 8px;
		font-size: 1rem;
		&::before {
			display: none;
		}
		&::after {
			bottom: 10px;
		}
	}
	.docs a {
		padding-left: 70px;

	}
	.social_links__margin {
		margin: 0 auto;
		display: flex;
		justify-content: center;
	}
	.social_links__margin a {
		margin-left: 0;
		margin-right: 30px;
	}
	.niidmail {
		text-align: center;
		width: 100%;
		display: block;
		& a {
			justify-content: center;
			transform: translateX(-100%);
		}

	}
}


@media all and (max-width: 349px) { 

	.social_links__margin a {
		margin-left: 0;
		margin-right: 20px;
	}

}

// @media all and (max-width: 1441px) { 
// 	.title_h1 {
// 		margin: 0 40px;
// 	}
// }

// @media all and (max-width: 1270px) { 
// 	.title_h1 {
// 		margin: 0 70px;
// 	}
// 	.wrap { 
// 	 padding: 0 50px; 
// 	} 
// 	.header-menu a { 
// 	 margin-left: 15px; 
// 	} 
// 	.slogan {
// 		max-width: 200px;

// 	}
// 	.slogan span { 

// 	 font-size: 0.5rem; 
	 
// 	} 
// 	.slider { 
// 	 height: 350px; 
// 	} 
// 	.slogan-text {
// 		font-size: 0.5rem;
// 	}
//    } 
   
  

//    @media all and (max-width: 1025px) {
// 		.dots-margin {
// 			margin-left: 80px;
// 			margin-right: 80px;
// 		}
// 		.slogan-mini {
// 			font-size: .6rem !important;
// 			padding: 10px 0;
// 			display: block;
// 		}
// 		.slogan-text {
// 			display: none;
// 		}

// 		h2{
// 			font-size: 2.5rem;
// 		}

// 	   .menu-link a{
// 		   font-size: 0.5rem;
// 		   margin-left: 0px;
// 	   }
// 	   .slogan-text {
// 		   font-size: 0.5rem;
// 	   }
// 	   .slogan {
// 		max-width: 210px;

// 	   }
// 	   .logo {
// 		   margin-left: 20px;
// 	   }

// 	   .cabinet {
// 		   right: 30px;
// 	   }
// 	   .gallery-item {
// 		   margin: 5px;
// 	   }
//    } 

//    @media all and (max-width: 920px) {
// 		.title_h1 {
// 			margin-left: 20px;
// 		}

// 	   .logo {
// 		   width: 100px;
// 	   }
// 	   .slogan {
// 		   max-width: 200px;
// 	   }
// 	   .slogan-text {
// 		font-size: 0.5rem;

// 	   }
// 	   .wrap {
// 		& h2 {
// 			font-size: 2.5rem;
// 			line-height: 140%;
// 		}
// 	   }
// 	   .dots {
		   
// 		&::after {
		
// 			content: "";
// 			transition: background-color, 0.3s;
// 			position: absolute;
// 			top: 10px;
// 			height: 42px;
// 			width: 42px;
// 			left: 0;
// 			transform: translateX(-180%);
// 			border-radius: 50%;
// 			border: solid 3px #000;
// 		}
// 		&::before {
// 			content: "";
// 			left: 0;
// 			position: absolute;
// 			top: 29px;
// 			height: 2px;
// 			width: 500px;
// 			transform: translateX(-115%);
// 			background: #000;
// 		}
// 	   }

//    }


//    @media all and (max-width: 810px) { 
// 	.dots-margin {
// 		margin-left: 25px;
// 		margin-right: 25px;
// 	}
// 	.title {
// 		margin-top: 140px;
// 	}
// 	.social_links a{ 
// 	 margin-top: 10px; 
// 	} 

// 	h2 { 
// 	 font-size: 2.5rem; 
// 	} 
// 	.footer-links { 
// 	 flex-wrap: wrap; 
// 	} 

// 	.link-margin { 
// 	 margin: 10px 5px; 
// 	} 


	
// 	.docs a::before { 
// 	 content: ""; 
// 	 position: absolute; 
// 	 left: 0; 
// 	 top: 0%; 
// 	 width: 50px; 
// 	 height: 60px; 
// 	}

// 	.slide-link a{ 
// 	 font-size: 1rem; 
// 	 line-height: 140%; 
// 	} 
//    } 

 


//    @media all and (max-width: 810px) {
// 		.mainmenu{
// 			top: 50px;
// 		}
// 		.dots::after,.dots::before{
// 			display: none;

// 		}

// 		.footer-links {
// 			justify-content: space-between;
// 		}
// 		.link-margin {
// 			width: 23%;
// 		}
// 		.niidmail {
// 			width: 150px;
// 		}


// 	   .logo_active{
// 		   top: 0;
// 		   position: absolute;
// 		   z-index: 33;
// 		   width: 120px;
// 		   left: 50%;
// 		   transform: translatex(-50%);
// 	   }
// 	   .cabinet_active {
// 		   transition: all, 0.2s;
// 		   position: absolute;
// 		   z-index: 31;
// 		   background-color: #fff;
// 		   top: 5px;
// 		   left: 50px;
// 	   }

// 	   .burger_icon {
// 		z-index: 30;
// 		display: block;
// 		position: absolute;
// 		right: 40px;
// 		top: 15px;
// 		width: 30px;
// 		height: 18px;
// 		cursor: pointer;
// 		& span{
// 			top: 50%;
// 			transform: scale(1) translate(0px, -50%);
// 			left: 0;
// 			position: absolute;
// 			height: 20%;
// 			width: 30px;
// 			transition: all 0.3s ease 0s;
// 			background-color: #fff;
// 		}

// 		   &::before{
// 			content: "";
// 			left: 0;
// 			top: 0;
// 			position: absolute;
// 			height: 20%;
// 			width: 30px;
// 			transition: all 0.3s ease 0s;
// 			background-color: #fff;
// 		   }
// 		   &::after{
// 			content: "";
// 			left: 0;
// 			bottom: 0;
// 			position: absolute;
// 			height: 20%;
// 			width: 30px;
// 			transition: all 0.3s ease 0s;
// 			background-color: #fff;
// 		   }
// 	   }
// 	   .burger_active{
// 			display: block;
// 			position: absolute;
// 			right: 40px;
// 			top: 15px;
// 			width: 30px;
// 			height: 20%;
// 			cursor: pointer;
// 		  	z-index: 99;
// 			& span {
// 				transform: scale(0) translate(0px, -50%);
// 			}
			
// 			&::before{
// 				top: 50%;
// 				transform: rotate(45deg) translate(0px, -50%);
// 			}
// 			&::after{
// 			content: "";
// 			bottom: 45%;
// 			transform: rotate(-45deg) translate(0px, 50%);
// 			}
// 	   }
// 	   .menu-link {
// 		   position: fixed;
// 		   z-index: 20;
// 		   width: 100vw;
// 		   height: 100vh;
// 		   background: #000;
// 		   display: flex;
// 		   flex-direction: column;
// 		   justify-content: flex-end;
// 		   align-items: center;
// 		   transition: left, 0.4s;
// 		   left: -130%;
// 		   top: 0;
// 		   & li:last-child {
// 			   margin-bottom: 40px;
// 		   }
// 			&::after{
// 				position: absolute;
// 				width: 100%;
// 				height: 100%;
// 				content: "";
// 				background-image: url("../img/vector.png");
// 				opacity: 0.3;
// 				z-index: -1;
// 			}
// 		   & a {
// 			   line-height: 0.3;
// 			font-size: 1.3rem;
// 			color: $orange-color;
// 		   }
// 	   }
// 	   .menu-link_active {
// 		   left: 0;
// 		   & li:hover{
// 			   border-bottom: none;
// 			   & a:hover {
// 			   color: #fff;

// 			   }
// 		   }
// 	   }



//    }


//    @media all and (max-width: 621px) { 
// 	   .gallery	{
// 		   flex-wrap: wrap;
// 		   justify-content: center;
// 	   }
// 	   .docs a {
// 		   margin-top: 30px;
// 	   }


//    }




//    @media all and (max-width: 482px) { 
// 	.wrap { 
// 	 margin-top: 20px; 
// 	 padding: 0 20px 0 60px; 
// 	} 
// 	.dots::before { 
// 	 top: 35px;
// 	 left: -150px;
// 	} 
// 	.dots::after{ 
// 	 top: 22px; 
// 	} 
// 	.docs a::before { 
// 	 left: 20px; 
// 	 top: -12px; 
// 	}

   
//    }

//    @media all and (max-width: 430px) {

// 	.dots-active::before{
// 		left: -160px;
// 	}
// 	.burger-span {
// 		right: 10px;
// 	}
// 	.dots::before{
// 		left: -165px;
// 	}


// 	.logo_active {
// 		position: absolute;
// 		width: 100px;
// 		height: auto;
// 		top: 30px;
// 		left: 50%;
// 		transform: translateX(-50%);

// 	}
// 	.slogan {
// 		position: absolute;
// 		width: 100%;
// 		top: 160px;
// 		left: 50%;
// 		transform: translateX(-50%);
// 		text-align: center;
// 	}
// 	.wrap h2 {
// 		font-size: 1.8rem;
// 	}
// 	.footer-links{
// 		display: none !important;
// 	}
// 	.socials {
// 		display: none !important;
// 	}
// 	.footer-container {
// 		padding-top: 15px;
// 	}
// 	.copyright p{
// 		margin-bottom: 30px;
// 		padding-top: -20px;
// 	}
//    }




// ////////////////////////////////////////////////////////////
//    @media only screen and (min-device-width : 320px) and (max-device-width : 481px) {
// 	.logo {
// 		margin: 0;
// 	}
// 	.coop-btn {
// 		margin: 20px auto !important;
// 	}
// 	.wrap {
// 		padding: 0px !important;
// 		& h2 {
// 			font-size: 1.5rem;
// 		}
// 	}

// 	.menu-link_active{
// 		& a {
// 			font-size: 1rem;
// 			margin-top: 10px;
// 			line-height: 80%;
// 		}
// 	}
// 	.logo-itm {
// 		position: absolute;
// 		top: 30px;
// 	}
// 	.mainmenu {
// 		height: 210px;
// 		top: 0px;
// 	}

// 	.slogan-text{
// 		display: block;
// 	}

// 	.slogan-mini {
// 		display: none;
// 	}

// 	.logo {
// 		left: 50%;
// 		top: 10%;
// 		transform: translateX(-50%);
// 	}

// 	.wrap-contacts {
// 		margin: 50px auto 0;
// 	}
// 	.footer-container {
// 		padding: 10px;
// 	}
// 	.copyright.wrap{
// 		height: 100%;
// 		& p {
// 			font-size: 1rem;
// 		}
// 		margin-top: 30px;
// 	}
// 	.wrap {
// 		margin-top: 70px;
		
// 	}
// 	.cabinet{
// 		display: none;
// 	}
// 	.menu-nav{
// 		margin: 5px;
// 	}

// 	.news h2{
// 		font-size: 1.8rem;
// 	}
// 	.news a {
// 		&:first-child{
// 			margin-left: 0px;
// 		}
// 		font-size: 1rem;
// 	}
	   
// 	.wrap p {
// 		font-size: 0.9rem;
// 	}

// 	.actual_article h3 {
// 		font-size: 1rem;
// 		}
	
// 	.wrapper{
// 		   overflow: hidden;
// 	   }
// 	   .actual_title h2 {
// 		font-size: 2rem;
// 	   }
// 	   .actual_title h2 {
// 		   margin-top: 40px;
// 		   font-size: 2rem;
// 	   }
// 	   .title_h1 {
// 		   margin-top: 140px;
// 	   }
// 	   .dots {
// 		   font-size: 1.8rem;
// 		   line-height: 140%;
// 	   }
// 	   .actual{
// 		   margin-top: 80px;
// 	   }

// 	   .actual h2 a{
// 		   &::after{
// 			   top: 25px;
// 		   }
// 	   }
// 	   .wrap {
// 		   padding: 0 30px 0 30px;
// 		   overflow: hidden;
// 	   }
// 	   .actual_article{
// 		   margin-left: 20px;
// 		   line-height: 140%;
// 	   }
// 	   .actual_article p {
// 		   display: none;
// 	   }


// 	   .news_date {
// 		   display: none;
// 	   }
// 	   .news_post {
// 		   margin-left: 25px;
// 		   font-size: 1rem;
// 		   & p {
// 			   display: none;
// 		   }
// 	   }
// 	   .tab-title_flex{
// 		   margin: 15px auto;
// 	   }
// 	   .tab-title_flex p{
// 		   line-height: 140%;
// 		   &::after {
// 			   display: none;
// 		   }
// 		   &::before {
// 			display: none;
// 		}
// 	   }

// 	   .tab-text-active {
// 		   margin: 15px;
// 	   }
// 	   .ancet-btn {
// 		   font-size: 0.8rem;
		   
// 	   }

// 	   .docs a {
// 		   margin: 30px auto;
// 		   font-size: 1rem;
// 		   padding-left: 80px;
// 		   &::before {
// 			   left: 0px;
// 			   top: 50%;
// 			   transform: translateY(-50%);
// 		   }

// 	   }
// 	   .coop-btn {
// 		   margin: 40px auto;
// 	   }
// 	   .footer-links {
// 		   display: flex;
// 		   flex-direction: column;
// 		   justify-content: center;
// 	   }
// 	   .social_links{
// 		   justify-content: center;
// 	   }

//    }
